{% extends 'admin/master.html' %}
{% block body %}
{{ super() }}
<div class="container">
    <div class="row">
        <div class="col-sm-4 col-sm-offset-4">
            <h1 class="text-center">Yeah, pianos</h1><br><br>

            {% if not current_user.is_authenticated %}
            <h3>Please log in with your credentials</h3>
            <p>
                <br>
                <a class="btn btn-primary form-control" href="{{ url_for('security.login') }}">login</a>
            </p>
            {% endif %}

            <p>
                <a class="btn btn-primary form-control" href="/"><i class="glyphicon glyphicon-chevron-left"></i> Back</a>
            </p>
        </div>
    </div>
</div>

{% endblock body %}
