{% extends 'admin/model/edit.html' %}

{% block body %}
    {{ super() }}
<hr/>
<div class="lead">
    <p>Change geolat and geolong in above form by clicking below button</p>
    <p>Or manually enter geolat and gelong by not clicking below button</p>
    <button onclick="getLocation()" class="btn btn-success">Change Location</button>
    <p id="geo"></p>

<script>
var x = document.getElementById("geo");
var options = {
  enableHighAccuracy: true,
  maximumAge: 0,
  timeout: 5000,
};

function success(position) {
    x.innerHTML = "Your current location: <br>Latitude: " + position.coords.latitude +
    "<br>Longitude: " + position.coords.longitude;

    document.getElementById("lat").value = position.coords.latitude;
    document.getElementById("lon").value = position.coords.longitude;
};

function error(err) {
  if(err.code === 1){
    alert("Access is denied!");
  }else if(err.code === 2){
    alert(" Position is unavailable!");
  }else if(err.code === 3){
    alert("Takes to long to get location.");
  }else{
    x.innerHTML = err;
  }
};

function getLocation() {
  if (navigator.geolocation) {
     navigator.geolocation.getCurrentPosition(success, error, options);
    } else {
      x.innerHTML = "Geolocation is not supported by this browser.";
    }
};
</script>
</div>

{% endblock %}