{% extends 'admin/model/edit.html' %}

{% block body %}
    {{ super() }}
<hr/>
<div class="lead">
    <p>Change geolat and geolong in above form by clicking below button</p>
    <p>Or manually enter geolat and gelong by not clicking below button</p>
    <button onclick="getLocation()" class="btn btn-success">Change Location</button>
    <p id="geo"></p>

<script>

var nav = null;

function getLocation() {
  if (nav == null) {
      nav = window.navigator;
  }
  if (nav != null) {
      var geoloc = nav.geolocation;
      if (geoloc != null) {
          geoloc.getCurrentPosition(successCallback);
      }
      else {
          alert("geolocation not supported");
      }
  }
  else {
      alert("Navigator not found");
  }
}



function successCallback(position)
{
  document.getElementById("lat").value = position.coords.latitude;
  document.getElementById("lon").value = position.coords.longitude;
}

</script>
</div>

{% endblock %}