<html>
    <body>
        <div>
            <a href="{{ url_for('admin.index') }}"><h1>Go to admin!</h1></a>
        </div>
       <style>
       #map {
        height: 400px;
        width: 100%;
       }
    </style>
        <div id="piano_data">
        <ul>
        {% for piano in pianos %}
            <li>{{ piano.title }}</li>
            <li>{{ piano.lat }}</li>
            <li>{{ piano.lon }}</li>
            <li><a href="{{ piano.image }}">{{ piano.image }}</a></li>
            <br>
        {% endfor %}
        </ul>
    </div>

    <div id="map"></div>
    <script>
      function initMap() {
        var psu = {lat: 54.76, lng: -112.36};
        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 4,
          center: psu
        });
        var marker = new google.maps.Marker({
          position: psu,
          map: map
        });
      }

    </script>
    <script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCIegMYBA5X870rGRqwORr5iCgYD2BLyyE&callback=initMap">
    </script>
    </body>
</html>